body{
    background-image: url(./imagens/lufy.jpg);
    background-color: #4b3e3eb2; /* Used if the image is unavailable */ 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;

}
#dados_detalhe{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

img{
    margin: auto;
    max-width: 80%;
    width: auto;
}
div{
    background-color: white;
    border-radius: 5px;
    text-align: justify;
    margin:5rem  auto;
    max-width: 95%;
    width: 80%;
}